body{
    padding:0px;
    margin:0px;

}


.navbar ul{

    padding:0px;
    margin:0px
}
.navbar ul li{
    display:inline-block;
    width:20%;
    height:50px;
    text-align:center;
    font-weight: bold;
    margin-right:-5px;
    padding:0px;


    
  
}

.navbar ul li a{
    text-decoration:none;
    color:black;
    list-style: none;
    font-size:18px;
    font-weight:bold
    
}
.navbar ul li a:hover{
    text-decoration:underline;
    color:rgb(255, 255, 255);
    list-style: none;
    font-size:20px;
   
}
}
.maparea {
   width:100%;
 
   margin: 0 auto;
 
}
#div1{
       width:100%;
       margin:0 auto;
}
.maparea div{
    display:inline-flex;
}
.mapafrica{
    width:60%;
    height:700px;
background-color:rgb(102, 144, 207);


}


.names1{
    width:20%;
  
    background-color:rgb(233, 84, 84)
}
.names1 li a{
    text-decoration:none;
    color:black;
    list-style: none;
    font-size:13px;
    
}
.names2 li a{
    text-decoration:none;
    color:black;
    list-style: none;
    font-size:13px;
    
}
.names1 li a:hover{
    text-decoration:underline;
    color:rgb(255, 255, 255);
    list-style: none;
    font-size:15px;
}
.names2 li a:hover{
    text-decoration:underline;
    color:rgb(255, 255, 255);
    list-style: none;
    font-size:15px;
}
.names1 li {
    text-decoration:none;
    color:black;
    list-style: none;
    
}
.names2 li {
    text-decoration:none;
    color:black;
    list-style: none;
    
}
.names2{
    width:20%;
   
    background-color:rgb(94, 20, 109)
}
.final{
    width:100%;
    height:17px;
    background-color:green;
}
.quizz{
    width:100%;
    height:400px;
    background-color:rgb(124, 238, 232);
    margin:0 auto;
}