body{
    padding:0px;
    margin:0px;

}


.navbar1 ul{

    padding:0px;
    margin:0px
}
.navbar1 ul li{
    display:inline-block;
    width:20%;
    height:50px;
    text-align:center;
    font-weight: bold;
    margin-right:-5px;
    padding:0px;


    
  
}

.navbar1 ul li a{
    text-decoration:none;
    color:black;
    list-style: none;
    font-size:18px;
    font-weight:bold
    
}
.navbar1 ul li a:hover{
    text-decoration:underline;
    color:rgb(255, 255, 255);
    list-style: none;
    font-size:20px;
   
}
}
.maparea {
   width:100%;
 
   margin: 0 auto;
 
}
#div1{
       width:100%;
       margin:0 auto;
}
.maparea div{
    display:inline-flex;
}
.mapafrica{
    width:40%;
    height:700px;
background-color:rgb(227, 237, 252);

}

.carte{
    width:90%;
    height:70%;
    margin:0px;
    margin:0px
}
svg#svg2 {
    width:800px;
    height:600px;
    margin-top:;
}


.names1{
    width:30%;
  
    background-color:rgb(247, 235, 235)
}
.names1 li a{
    text-decoration:none;
    color:black;
    list-style: none;
    font-size:15px;
    
}
.names2 li a{
    text-decoration:none;
    color:black;
    list-style: none;
    font-size:15px;
    
}
.names1 li a:hover{
    text-decoration:underline;
    color:rgb(4, 66, 30);
    list-style: none;
    font-size:18px;
    font-weight: bold;
}
.names2 li a:hover{
    text-decoration:underline;
    color:rgb(8, 58, 2);
    list-style: none;
    font-size:18px;
    font-weight: bold;
}
.names1 li {
    text-decoration:none;
    color:black;
    list-style: none;
    
}
.names2 li {
    text-decoration:none;
    color:black;
    list-style: none;
    
}
.names2{
    width:30%;
   
    background-color:rgb(251, 238, 253)
}
.final{
    width:100%;
    height:17px;
    background-color:green;
}
.aboutt{
    width:100%;
    height:400px;
    background-color:rgb(255, 255, 255);
    margin:0 auto;
}
.nameflag{
    background-color:rgb(250, 250, 250);
    height:100px;
}
.nameflag table tr{
    width:700px;
    height:40px;
}

#colone1{
    width:50%;
    background-color:rgb(255, 255, 255);
    height:400px;
}
#colone2{
    width:50%;
    height:400px;
    background-color:rgb(255, 255, 255);
}