
body{
    padding: 0;
    margin:0;
}
.navbar1{
    width:110%;
    height:60px;
    background-color:blue
}
.navbar1 div{
    display:inline-block;
}
.menudiv1:hover{
    background-color:black
}
#new{
  margin:0 auto;
}
table tr td li:hover{
    background-color:black
}


.maparea {
   width:100%;
  
   background-color:rgb(242, 248, 238);
 
}

#div1{
       width:100%;
       margin:0 auto;
}

.mapafrica{
    width:40%;
   
background-color:rgb(227, 237, 252);

}
.carte{
    
  
    margin:0px;
    margin:0px
}

svg{
   margin-left:-40px;
   width:410px;
   margin-top:-30px;

   
   
   
}



.names1{
    width:30%;
  
    background-color:rgb(247, 252, 246)
}
.names1 li a{
    text-decoration:none;
    color:black;
    list-style: none;
    font-size:15px;
    
}
.names2 li a{
    text-decoration:none;
    color:black;
    list-style: none;
    font-size:15px;
    
}
.names1 li a:hover{
    text-decoration:underline;
    color:rgb(4, 66, 30);
    list-style: none;
    font-size:18px;
    font-weight: bold;
}
.names2 li a:hover{
    text-decoration:underline;
    color:rgb(8, 58, 2);
    list-style: none;
    font-size:18px;
    font-weight: bold;
}
.names1 li {
    text-decoration:none;
    color:black;
    list-style: none;
    
}
.names2 li {
    text-decoration:none;
    color:black;
    list-style: none;
    
}
.names2{
    width:30%;
   
    background-color:rgb(253, 249, 238)
}
.final{
    width:100%;
    height:17px;
    background-color:green;
}
.aboutt{
    width:90%;
    height:auto;
    background-color:rgb(250, 250, 250);
    margin:0 auto;
    border-left:10px solid rgb(240, 240, 240);
    border-right:10px solid rgb(218, 218, 218);
}
.nameflag{
    background-color:rgb(250, 250, 250);
    height:100px;
}
.nameflag table tr{
    width:700px;
    height:40px;
}

#colone1{
    
    background-color:rgb(255, 255, 255);
    height:;
}
#colone2{
 
    background-color:rgb(255, 255, 255);
    
}
#firsttext{
    width:100%;
   
    font-size:16px;
    color:rgb(8, 8, 8);
    text-align:center;
    margin-top:15px;
    border-left:10px solid rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.img-countries:hover{
    border:rgb(4, 109, 20) 4px solid;
     cursor: pointer;
}
.nameall ul li{
    height:auto;
margin-top:20px;
    background-color:#444;
    padding:5px;
    margin:2px;
    list-style: none;
    display:inline-block;}
  
.nameall ul li{
    background-color:#444;
}

.nameall ul li a{
    color:white;
    font-size:15px;
}
.nameall ul li:hover{
    background-color:rgb(40, 141, 0);
}
.nameall{
    margin-left:-40px;
}
.tabl table{
    border:3px solid #333;
    width:100%;
}
.tabl table tr{
    border:2px solid black
}

.tabl table td{
    border:2px solid black
}

.headtr{
    background-color:#444;
    font-size:17px;
    text-align:center;
   
    color:white;
    
}
.headtr1{
    background-color:rgba(54, 107, 76, 0.7);
    font-size:14px;
    text-align:center;
    font-weight:bold;
    color:rgb(255, 255, 255);
    
}

#possibilities{
    background-color:#ffffff;
    padding:20px 0;
   
    width:94%;
    margin:0 auto;
    
  }
  #possibilities article{
    width:100%;
    height:260px;
    margin:0 auto;
    border-radius:5px;
    
    

}
  .wrapper{
    width:100%;
    margin:0 auto;
  
}
.overlay{
    background-color: rgba(235, 235, 235, 0.6);
    height:100%;
    width:50%;
    padding:10px;
    border-radius:10px 0 0 10px;
    margin-right:24px;
   
}
.classp{
    padding-top:10px;
    font-size:14px;
    color:black;
    font-weight:bold;
}
.clear{
    clear:both;
}
#article1{
    
}
footer{
   
}
.copyright{
    padding:15px;
    background-color:#444;
 
    text-align:center;
    font-size:12px;
    color:white;
}

.bg{
    background-image:url('images/thomasbg.jpeg');
    background-size: 100% 100%;
}
.bigBg{
    width:100%;
    height:500px;
    background-image:url('images/b-g.jpg');
    background-size:100% 100%;
    background-attachment:fix;
    margin-top:-10px;
}







  html{
      font-family: Helvetica, arial, sans-serif;
    
  }
  
   
section.clearfix{
   background-color:rgb(244, 248, 244);
   color:#333;
   height:120px;
   
  }
  
  .clearfix:before,
  .clearfix:after {
    display:;
    line-height: 0;
   /* content: "";*/
  }
  .clearfix:after {
    clear: both;
  }
  .container{
      width: 80%;
      margin: 0 auto;
  }
  header{
      width: 100%;
      height: auto;
      background: black;
  }
  .header-left,
  .header-right{
      position: relative;
      color: white;
      float: left;
  }
  .header-left{
      width: 30%;
  }
  .header-right label{
      position: absolute;
      top: -3.7em;
      right: 0;
      cursor: pointer;
  }
  .header-right span{
      position: relative;
      width: 2em;
      height: 2em;
      background: rgba(255,255,255,.3);
      -webkit-transition: all .3s ease;
  }
  .header-right span:hover{
      background: rgba(255,255,255,.6);
  }
  .header-right span:before,
  .header-right span:after{
      content: '';
      position: absolute;
      width: 2em;
      height: .5em;
      top: 4px;
      left: 0;
      background: black;
  }
  .header-right span:after{
      top: 14px;
  }
  .header-right{
      width: 70%;
      text-align: right;
  }
  #open{
      display: none;
  }
  h1{
      font-weight: 300;
      line-height: 40px;
  }
  a{
      text-decoration: none;
      color: white;
  }
  nav>a{
      position: relative;
      display: inline-block;
      font-size: 13px;
      line-height: 40px;
      padding: 0 2em;
      -webkit-transition: all .3s ease;
  }
  nav>a:hover{
      background: rgba(255,255,255,.9);
      color: black;
  }
  .hidden-desktop{
      display: non;
      color:white;
  }
 
  .section-left,
  .section-right{
      float: left;
  }
  .section-left{
      width: 70%;
      padding: 10px 0;
  }
  .section-right{
      width: 30%;
  }
  .section-title,
  .section-tagline{
      color: white;
      font-weight: 300;
      margin: 0;
      padding: 0;
      -webkit-transition: all .4s ease;
  }
  .section-title{
      font-size: 4em;
      margin-bottom: .3em;
      text-shadow: 0 3px 0px black,
                   0 4px 0px rgba(150,150,150,.5);
  }
  .section-tagline{
      font-size: 1em;
  }
  .learn-more{
      display: table;
      margin: 5px auto 0;
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 3px;
      
      background: #080808;
      color:white;
      font-size: 17px;
  }
  .learn-more:hover{
      background: #6d5408;
  }
  .learn-more:active{
      box-shadow: inset 0 2px 0 rgba(0,0,0,.8);
  }
  @media (min-width: 980px){
  header.clearfix{
    height:70px;
  }
}
  /* Portrait tablet to landscape and desktop */
  @media (min-width: 768px) and (max-width: 979px) {
      .box{
          width: 49%;
          margin-bottom: 5%;
          margin-top:30px
      }
  
      ul li:nth-child(3) .box{
          clear: both;
      }
  
      ul li:nth-child(2n) .box{
          margin-right: 0;
          clear: right;
      }
      section.clearfix{
        height:200px;
       
    }
  }
  
  /* Small monitor */
  @media (max-width: 979px){
      nav>a{
          padding: 0 1.5em;
      }
      .section-left,
      .section-right{
          width: 100%;
      }
      .section-left{
          text-align: center;
      }
      .section-right{
          padding: 0 0 2em;
          margin-top:-40px;
      }
      .section-title{
          font-size: 4em;
          margin-bottom: .2em;
      }
      .section-tagline{
          font-size: 1.3em;
      }
      .learn-more{
          margin: 0 auto;
      }
      section.clearfix{
        height:200px;
       
    }
    .aboutt{
        width:100%;
    }
   #img1{
       width:99%;
       height:160px;
   }
   #img2{
    width:99%;
    height:160px;
}
#img3{
    width:99%;
    height:160px;
}
#img4{
    width:99%;
    height:160px;
}
  }
   
  /* Landscape phone to portrait tablet */
  @media (max-width: 767px) {
      .container{
          width: 90%;
      }
      nav>a{
          padding: 0 2em;
      }
      h1{
          padding: .5em 0;
      }
      .header-left,
      .header-right{
          width: 100%;
          text-align: center;
      }
      .section-left,
      .section-right{
          width: 100%;
      }
      .section-left{
          text-align: center;
          padding: 2em 0;
      }
      .section-right{
          padding: 1em 0 2em;
          margin-top:-40px;
      }
      .section-title{
          font-size: 3em;
          margin-bottom: .2em;
      }
      .section-tagline{
          font-size: 1.3em;
      }
      .learn-more{
          margin: 0 auto;
      }
      section.clearfix{
        height:200px;
        margin-bottom:-20px;
    }
    .bigBg{
        height:270px
    }
    .aboutt{
        width:100%;
    }
    #img1{
        width:99%;
        height:160px;
    }
    #img2{
     width:99%;
     height:160px;
 }
 #img3{
     width:99%;
     height:160px;
 }
 #img4{
     width:99%;
     height:160px;
 }
  }
   
  /* Landscape phones and down */
  @media (max-width: 480px) {
      body{
         
      }
      .container{
          width: 90%;
      }
      nav{
          height: 0;
          overflow: hidden;
          -webkit-transition: all .3s ease;
      }
      input[type="checkbox"]:checked + nav{
          height: 205px;
      }
      nav>a{
          padding: 0 1em;
          display: block;
          border-bottom: solid 1px rgba(255,255,255,.1);
      }
      h1{
          padding: .5em 0;
      }
      .header-left,
      .header-right{
          width: 100%;
          text-align: center;
      }
      header{
          height:auto;
      }
      .learn-more{
          margin-top:25px;
      }
      .section-left,
      .section-right{
          width: 100%;
          
      }
      .section-left{
          text-align: center;
          padding: 10px 0;
        
      }
      .section-right{
          text-align: center;
          padding: 10px;
          margin-top:-10px;
      }
      .section-title{
          font-size: 2.4em;
          margin-bottom: 0;
      }
      .section-tagline{
          font-size: 1em;
      }
      .learn-more{
          display: table;
          margin: 0 auto;
      }
      .hidden-desktop{
          display: block;
          color:red
      }
      section.clearfix{
          height:200px;
          margin-bottom:-50px;
          
      }
      .bigBg{
          height:270px;
      }
      .aboutt{
          width:100%;
      }
      #img1{
        width:99%;
        height:160px;
    }
    #img2{
     width:99%;
     height:160px;
 }
 #img3{
     width:99%;
     height:160px;
 }
 #img4{
     width:99%;
     height:160px;
 }
  }

















 .bg-grey {
    background: #292929;
 }
 .logo-footer {
    margin-bottom: 40px;
 }
 footer {
        color: grey;
 }
 footer p, a {
font-size: 12px;
font-family: 'Roboto', sans-serif;
}
footer h6 {
font-family: 'Playfair Display', serif;
margin-bottom: 40px;
position: relative;
}
footer h6:after {
position: absolute;
content: "";
background: grey;
width: 12%;
height: 1px;  
left: 0;
bottom: -20px;
}
 .btn-footer {
             color: grey;
          
            text-decoration: none;
            border: 1px solid;
            border-radius: 43px;
            font-size: 13px;
            padding: 7px 30px;
            line-height: 47px;
 }
 .btn-footer:hover {
            
            text-decoration: none;
           
 }
.form-footer input[type="text"] {
    border: none;
border-radius: 16px 0 0 16px;
outline: none;
padding-left: 10px;

}
::placeholder {
font-size: 10px;
padding-left: 10px;
font-style: italic;
}
.form-footer input[type="button"] {
border: none;
background:#232323;
    margin-left: -5px;
color: #fff;
outline: none;
border-radius: 0 16px 16px 0;
padding: 2px 12px;
}
 .social .fa {
color: grey;
font-size: 22px;
padding: 10px 15px;
background: #3c3c3c;
}
 footer ul li {
list-style: none;
display: block;
}
footer ul  {
padding-left: 0;
}
footer ul  li a{
text-decoration: none;
color: grey;
text-decoration:none;
}
a:hover {
text-decoration: none;
color: #f5f5f5 !important;

}
.logo-part {
border-right: 1px solid grey;
height: 100%;
}








.ara2{
    width:100%;
    height:300px;
    background-image:url('images/tech02.jpg');
    background-position:center;
    
}










.accordion-toggle:hover {
    text-decoration: none;
  }

  .faqq{
      width:100%;
      height:70px;
      padding:10px;
      background-color:#444;
      color:rgb(255, 255, 255);
      font-size:20px;
     
      
      
  }


